@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    font-size: 10px;
}

body{
    font-family: Noto Sans JP;
    color: #777777;
}


p, b{
    font-size: 1.3rem;
}

h2{
    text-transform: uppercase;
}

.info-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-title{
    font-family: Roboto;
    text-align: center;
    margin-bottom: 4rem;
    text-decoration: underline;
}

.dark{
    text-decoration-color: #94b5ae;
}

.light{
    text-decoration-color: #ffffff;
    color: #ffffff;
}

.container{
    max-width: 72rem;
    padding: 0rem 5rem;
}


/* ------NAV BAR ------ */

#logo{
   font-family: Roboto;
   color: #777777;
   font-size: 1.75rem;
}

.nav-link{
    font-size: 1.5rem;
}

.menu a:hover{
  border-bottom: 1px solid #94b5ae
}

.active{
  border-bottom: 1px solid #777777
}

/* ------ HERO IMAGE ------ */

/* GOT HERO IMAGE HERE https://pixabay.com/photos/desktop-tidy-clean-mockup-white-2325627 */


#hero-image{
  height: 100vh;
  width: 100%;
  background: url("../images/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-section{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-text{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: Roboto;
    letter-spacing: 3px;
    text-align: center;

    width: 35rem;
    height: 15rem;

    padding: 2.5rem 2.5rem;

    background-color: #94b5ae;

    position: absolute; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

}

#hero-text h3{
    font-size: 1.5rem; 
    padding-top: 2rem;
}

#hero-text #resume-text{
    border-top: 1px solid #ffffff;
    padding-top: 1rem;
    font-style: italic;
}

/* ------ ABOUT SECTION ------ */

#profile-border{
    width: 22rem;
    height: 22rem;
    padding: 1rem;
    background-color: #94b5ae;
    margin: 0 auto;
}

#profile-photo{
    background: url("../images/profilephoto.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 20rem;
}

#profile{
    padding-top: 2.56rem;
}

.social-icon{
    font-size: 160%;
}

#summary{
  padding: 3rem 0rem 0rem;
  clear: both;
}

/* ------ EXPERIENCE SECTION ------ */

#experience{
  background-color: #94b5ae;
}

/* ------ SKILLS SECTION ------ */

.skill-description{
    white-space: nowrap;
    list-style-type:none;
}

ul li span {
  width: 15rem;
  height: 3rem;
  display: inline-block;
  font-size: 1.5rem;
}

.fa-circle{
    color: #94b5ae;
}

/* ------ PROJECTS SECTION ------ */

#projects{
  background-color: #94b5ae;
  padding-top: 1rem;
}

/* ------ CONTACT SECTION ------ */

/* Remember when using media queries to make mobile first (min-width only) */

@media screen and (max-width:943px){

  #menu{
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #cover-text{
    left: 0px;
  }

  #club-ethos{
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  .left-about-heading, .right-about-heading{
    width: inherit;
  }

  .left-about-heading h2, .right-about-heading h2{
    width: 100%;
    text-align: center;
  }

  .left-about-heading p, .right-about-heading p{
    text-align: center;
    padding: 0 20px 0 20px;
  }

  #photos{
    column-count: 3;
  }
}

@media screen and (max-width:800px){
  #photos{
    column-count: 2;
  }
}